#!/usr/bin/env bash

# Script to deploy the docker image to the remote server
source ./docker/custom/dockerenv.sh

./docker/app-deploy-common.sh ${moduleName} $REMOTE_IP_DEV $REMOTE_USER_DEV

# copy scripts to the remote server
echo "Copy scripts to the remote server..."
ssh $REMOTE_USER_DEV@$REMOTE_IP_DEV "mkdir -p /home/${moduleName}"
scp ./docker/app-run-dev.sh $REMOTE_USER_DEV@$REMOTE_IP_DEV:/home/${moduleName}/app-run-dev.sh
scp ./docker/app-stop-dev.sh $REMOTE_USER_DEV@$REMOTE_IP_DEV:/home/${moduleName}/app-stop-dev.sh
scp ./docker/db-stop-dev.sh $REMOTE_USER_DEV@$REMOTE_IP_DEV:/home/${moduleName}/db-stop-dev.sh
scp ./docker/db-start-dev.sh $REMOTE_USER_DEV@$REMOTE_IP_DEV:/home/${moduleName}/db-start-dev.sh
scp ./docker/db-restart-dev.sh $REMOTE_USER_DEV@$REMOTE_IP_DEV:/home/${moduleName}/db-restart-dev.sh
#if ($searchEnabled)
scp ./docker/search-start-dev.sh $REMOTE_USER_DEV@$REMOTE_IP_DEV:/home/${moduleName}/search-start-dev.sh
#end

# copy secrets if not exist yet
rsync -av --ignore-existing ./docker/secrets.sh $REMOTE_USER_DEV@$REMOTE_IP_DEV:/home/${moduleName}/secrets.sh

echo "Done"
