package ${package}.web;


import ${package}.config.AppConfig;
import org.springframework.http.MediaType;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.GetMapping;

/**
 * Supports file robots.txt depending on active release.
 */
@Controller
public class RobotsFileController {
    private final AppConfig appConfig;

    public RobotsFileController(final AppConfig appConfig) {
        this.appConfig = appConfig;
    }


    @GetMapping(value = "/robots.txt", produces = MediaType.TEXT_PLAIN_VALUE)
    public String robots() {
        return "robots-" + appConfig.firstActiveProfile() + ".txt";
    }
}
