package ${package}.repository;

/**
 * Type of entity update.
 *
 * @see EntityGraphStore
 */
public enum EntityUpdateType {
    /**
     * If entity with id, then entity is updated, otherwise new entity is created.
     */
    DEFAULT,

    /**
     *  If entity without id but with unique name, then id loaded by name and entity fully updated.
     */
    UPDATE_BY_NAME,

    /**
     *  If entity without id but with unique name, then entity is not updated but relation is updated,
     *  otherwise new entity is created.
     */
    UPDATE_RELATION_BY_NAME,
}
