package ${package}.repository;

import ${package}.jooq.Tables;
import ${package}.jooq.tables.records.${name}Record;
import ${package}.dto.${name}Dto;
import org.jooq.DSLContext;

/**
 * Repository for {@link ${name}Dto} entity.
 */
public class ${name}Repository extends JooqRepository<${name}Record, Long, ${name}Dto> {

    public ${name}Repository(final DSLContext dsl) {
        super(dsl, Tables.${uname}, Tables.${uname}.${field1}, ${name}Dto.class);
    }
}
