#!/usr/bin/env bash

echo "Start database..."

DB_DATA_DIR=$HOME/.tzkdata/${moduleName}-db

echo "Database data directory: $DB_DATA_DIR"

docker run --name ${dockerDbName} --rm -p 127.0.0.1:5432:5432 \
  --shm-size=1g \
  -e POSTGRES_DB=${dbName} \
  -e POSTGRES_USER=${dbUserName} \
  -e POSTGRES_PASSWORD=${dbUserPassword} \
  -v $DB_DATA_DIR:/var/lib/postgresql/data \
  -d postgres:15.2
