<p>Dear ${username}!</p>

<p>This email has been generated automatically to help you recover access to your ${productName} account.</p>

<p><b>Note: If you did not do this, please ignore this email</b>.</p>

<p>If you forgot your password, you can reset it by using the url below:</p>
<p><a href="$recoverLink">$recoverLink</a></p>

Best regards,<br/>
${productName} Team <br/>
${siteUrl}
