package ${package}.web.rest;


import ${package}.dto.${name}Dto;
import ${package}.service.${name}Service;
import org.jetbrains.annotations.NotNull;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;
import java.util.List;

@RestController
@RequestMapping("/api")
public class ${name}Controller {

    @NotNull
    private final ${name}Service ${lname}Service;

    public ${name}Controller(@NotNull ${name}Service ${lname}Service) {
        this.${lname}Service = ${lname}Service;
    }

    @RequestMapping("/${lname}s")
    public List<${name}Dto> findAll() {
        return ${lname}Service.findAll();
    }

    @PostMapping("/${lname}")
    public ${name}Dto save(@RequestBody ${name}Dto dto) {
        return ${lname}Service.save(dto);
    }

    @GetMapping(value = "/${lname}s/search")
    public Page<${name}Dto> searchByTerm(@RequestParam(value = "term", required = false) String searchTerm, Pageable pageable) {
        return ${lname}Service.searchByTerm(searchTerm, pageable);
    }
}
