package ${package}.web.rest;


import ${package}.dto.${name}Dto;
import ${package}.dto.full.${name}FullDto;
import ${package}.dto.IdDto;
import ${package}.repository.MatchType;
import ${package}.service.${name}Service;
import jakarta.validation.Valid;
import org.apache.commons.lang3.StringUtils;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.PutMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

import java.util.List;

/**
* Api methods for {@link ${name}Dto} entity
*/
@RestController
@RequestMapping("/api/v1")
public class ${name}ApiController {

    private final ${name}Service ${lname}Service;

    public ${name}ApiController(${name}Service ${lname}Service) {
        this.${lname}Service = ${lname}Service;
    }

#if ($findAll)
    @RequestMapping("/${lname}s/table")
    public List<${name}Dto> findAll() {
        return ${lname}Service.findAll();
    }
#end

#if ($getById)
    @GetMapping("/${lname}/table/{id}")
    public ResponseEntity<${name}Dto> getById(@PathVariable("id") Long id) {
        return ResponseEntity.ok(${lname}Service.getById(id));
    }
#end

#if ($getFullEntityById)
    @GetMapping("/${lname}/{id}")
    public ResponseEntity<${name}FullDto> getFull${name}ById(@PathVariable("id") Long id) {
        return ResponseEntity.ok(${lname}Service.getFull${name}ById(id));
    }
#end

#if ($createFullEntity)
    @PostMapping("/${lname}")
    public ResponseEntity<?> createFull${name}(@Valid @RequestBody ${name}FullDto dto, @RequestParam(value = "return", required = false, defaultValue = "false") boolean returnEntity) {
        if (returnEntity) {
            return ResponseEntity.ok(${lname}Service.saveFull${name}AndReturn(dto));
        }

        return ResponseEntity.ok(new IdDto(${lname}Service.saveFull${name}(dto)));
    }
#end

#if ($updateFullEntity)
    @PutMapping("/${lname}/{id}")
    public ResponseEntity<?> updateFull${name}(@PathVariable("id") Long id, @Valid @RequestBody ${name}FullDto dto, @RequestParam(value = "return", required = false, defaultValue = "false") boolean returnEntity) {
        dto.${primarySetter}(id);

        if (returnEntity) {
            return ResponseEntity.ok(${lname}Service.saveFull${name}AndReturn(dto));
        }

        return ResponseEntity.ok(new IdDto(${lname}Service.saveFull${name}(dto)));
    }
#end

#if ($importFullEntity)
    @PostMapping("/${lname}/import")
    public ResponseEntity<?> importFull${name}(@RequestBody ${name}FullDto dto, @RequestParam(value = "return", required = false, defaultValue = "false") boolean returnEntity) {
        // TODO: validate dto before import
        if (returnEntity) {
            return ResponseEntity.ok(${lname}Service.importFull${name}AndReturn(dto));
        }

        return ResponseEntity.ok(new IdDto(${lname}Service.importFull${name}(dto)));
    }
#end

#if ($searchEntitiesByTerm)
    @GetMapping(value = "/${lname}s/search")
    public Page<${name}Dto> search${name}sByTerm(@RequestParam(value = "term", required = false) String searchTerm,
                                                 @RequestParam(value = "match", defaultValue = "contains") String matchType,
                                                 Pageable pageable) {
        // TODO: optimize this method
        return ${lname}Service.searchByTerm(StringUtils.trim(searchTerm), pageable, MatchType.fromParam(matchType), true);
    }
#end
}
