package ${package}.service;

import ${package}.dto.${name}Dto;
import ${package}.dto.full.${name}FullDto;
import ${package}.jooq.tables.records.${name}Record;
import ${package}.repository.${name}Repository;
import ${package}.mapper.${name}Mapper;
import org.jetbrains.annotations.NotNull;
import org.springframework.stereotype.Service;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;
import org.springframework.transaction.annotation.Transactional;
import java.util.List;
import java.util.Optional;
import java.util.Collection;

/**
 * Service for {@link ${name}Dto}.
 */
@Transactional
@Service
public class ${name}Service {
    @NotNull
    protected final ${name}Repository ${lname}Repository;

    @NotNull
    protected final ${name}Mapper ${lname}Mapper;

    public ${name}Service(final @NotNull ${name}Repository ${lname}Repository, final @NotNull ${name}Mapper ${lname}Mapper) {
        this.${lname}Repository = ${lname}Repository;
        this.${lname}Mapper = ${lname}Mapper;
    }
}
