package ${package}.util;

import lombok.experimental.UtilityClass;
import org.apache.commons.lang3.time.DurationFormatUtils;
import org.jetbrains.annotations.NotNull;

import java.time.Duration;

@UtilityClass
public class TimeUtil {
    private static final long SUSPICIOUS_TIME = 3_000L;

    /**
     * Sleep a little bit when something suspicious happens.
     */
    public static void sleepWhenSuspicious() {
        try {
            Thread.sleep(SUSPICIOUS_TIME);
        } catch (final InterruptedException ex) {
            throw new RuntimeException(ex);
        }
    }

    /**
     * Convert {@link Duration} to pretty string.
     *
     * @param duration duration to convert
     * @return pretty string
     */
    @NotNull
    public static String prettyDuration(Duration duration) {
        final String format;
        if (duration.toDays() > 0) {
            format = "[d'd' H'h']";
        } else {
            format = "[H'h' m'm']";
        }
        final String relativeTime = DurationFormatUtils.formatDuration(duration.toMillis(), format).trim();
        return relativeTime.isEmpty() ? "just now" : (relativeTime + " ago");
    }
}
