<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <modelVersion>4.0.0</modelVersion>

    <groupId>$version.groupId</groupId>
    <artifactId>$version.artifactId</artifactId>
    <version>$version.version</version>

    <properties>
        <java.version>1.8</java.version>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <project.reporting.outputEncoding>UTF-8</project.reporting.outputEncoding>
    </properties>

    <dependencies>
    #foreach($dep in $dependencies)
        <dependency>
            <groupId>$dep.groupId</groupId>
            <artifactId>$dep.artifactId</artifactId>
            <version>$dep.version</version>
        </dependency>
    #end
    </dependencies>
</project>
