<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${productName}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Welcome to ${productName}</h1>
<div class="login-form">
    <div><a href="/login">Login</a></div>
    <br/>
    <div><a href="/register">Register</a></div>
    <br/>
    <div><a href="/recover">Recover password</a></div>
</div>
</body>
</html>
