<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${productName} - Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/favicon.png" type=image/x-icon>
    <script th:if="${@captchaService.isCaptchaInLoginEnable()}" th:src="'https://www.google.com/recaptcha/api.js?render='+${@captchaService.getSiteKey()}" async defer="defer"></script>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form action="/login" method="POST" class="login-form" th:object="${userLogin}" id="loginForm">
        <div th:if="${#fields.hasGlobalErrors()}" class="failed">
            <span th:errors="*{global}">Invalid username or password</span>
        </div>
        <div th:if="${param.error403}" class="failed">
            Current user does not have permission to access this page.
        </div>
        <div th:if="${param.logout}" class="success">
            You have been logged out.
            <div><a href="/" title="Go home page">Visit home page</a></div>
        </div>
        <div th:if="${param.register}" class="success">
            You have successfully registered.<br/> Please, check your email to activate your account.
        </div>
        <div th:if="${param.activate}" class="success">
            User successfully activated. Please, login.
        </div>
        <div th:if="${param.recover}" class="success">
            Password successfully recovered. Please, login.
        </div>
        <div class="input-container">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" required/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="validation-error">
                User name error
            </div>
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" required/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-error">
                Password error
            </div>
        </div>
        <div class="remember-me">
            <input type="checkbox" id="rememberMe" name="rememberMe">
            <label for="rememberMe">Remember Me</label>
        </div>
        <input type="hidden" id="captchaToken" name="captchaToken"/>
        <button type="submit">Login</button>
        <div>
            <a href="/register" title="Register new account">Create account</a>
        </div>
        <div>
            <a href="/recover" title="Click to recover your password">Forgot password?</a>
        </div>
    </form>
</div>

<script th:inline="javascript" th:if="${@captchaService.isCaptchaInLoginEnable()}">
    const loginForm = document.getElementById('loginForm');
    loginForm.addEventListener('submit', onSubmit);

    function onSubmit(e) {
        e.preventDefault();
        if (typeof grecaptcha !== 'undefined') {
            const siteKey = /*[[${@captchaService.getSiteKey()}]]*/ 'defaultKey';
            grecaptcha.ready(function () {
                grecaptcha.execute(siteKey, {action: 'submit'}).then(function (token) {
                    document.getElementById('captchaToken').value = token;
                    loginForm.submit();
                });
            });
        } else {
            loginForm.submit();
        }
    }
</script>
</body>
</html>
