<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${productName} - Set new password</title>
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <script src="/js/tailwindcss345.js"></script>
    <script th:if="${@captchaService.isCaptchaInPasswordRecoverEnable()}" th:src="'https://www.google.com/recaptcha/api.js?render='+${@captchaService.getSiteKey()}" async defer="defer"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<header class="absolute top-0 left-0 w-full bg-white shadow-md">
    <div class="mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <div class="flex justify-start items-center">
            <a href="/" class="text-xl font-bold text-indigo-600 hover:text-indigo-800">Home</a>
        </div>
    </div>
</header>
<div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md mt-16">
    <h2 class="text-2xl font-bold mb-6 text-center">Reset your password</h2>
    <form action="/recover-finish" method="POST" class="space-y-3" th:object="${passwordRecover}" id="recoverForm">
        <div th:if="${#fields.hasGlobalErrors()}" class="text-red-600 text-center mb-4">
            <span th:errors="*{global}">Invalid input</span>
        </div>
        <div th:if="${#fields.hasErrors('recoveryCode')}" th:errors="*{recoveryCode}" class="text-red-600 text-center mb-4">
            Recovery code error
        </div>
        <div class="space-y-2">
            <label for="password" class="block text-sm font-medium text-gray-700">Enter new password</label>
            <input type="password" id="password" required class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"/>
        </div>
        <div class="space-y-2">
            <label for="newPassword" class="block text-sm font-medium text-gray-700">Repeat new password</label>
            <input type="password" th:field="*{newPassword}" id="newPassword" required class="w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"/>
            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="text-red-600 mb-4">
                New password error
            </div>
            <div id="password-mismatch" class="text-red-600 mb-4" style="display: none;">
                Passwords do not match
            </div>
        </div>
        <input type="hidden" th:field="*{recoveryCode}" required/>
        <input type="hidden" id="captchaToken" name="captchaToken"/>
        <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Reset password</button>
        <div class="text-center mt-4">
            If you remember your password, <a href="/login" class="text-blue-500">login here</a>
        </div>
    </form>
</div>

<script th:inline="javascript">
    const recoverForm = document.getElementById('recoverForm');
    recoverForm.addEventListener('submit', onSubmit);

    function onSubmit(e) {
        e.preventDefault();
        const password = document.getElementById('password').value;
        const newPassword = document.getElementById('newPassword').value;
        const passwordMismatch = document.getElementById('password-mismatch');
        passwordMismatch.style.display = 'none';
        if (password !== newPassword) {
            passwordMismatch.style.display = 'block';
            return;
        }

        if (typeof grecaptcha !== 'undefined') {
            const siteKey = /*[[${@captchaService.getSiteKey()}]]*/ 'defaultKey';
            grecaptcha.ready(function () {
                grecaptcha.execute(siteKey, {action: 'submit'}).then(function (token) {
                    document.getElementById('captchaToken').value = token;
                    recoverForm.submit();
                });
            });
        } else {
            recoverForm.submit();
        }
    }
</script>
</body>
</html>
