package ${package}.dto.api;

import jakarta.validation.constraints.Size;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * Dto for password recovery finish.
 */
@Data
@AllArgsConstructor
@NoArgsConstructor
public class PasswordRecoverFinishDto {
    @Size(min = 36, max = 36, message = "recovery code length must be between {min} and {max}") // TODO: remove magic numbers
    private String recoveryCode;
    @Size(min = 8, max = 100, message = "password length must be between {min} and {max}")
    private String newPassword;
    /**
     * Captcha token.
     */
    private String captchaToken;
}
