package ${package}.dto.api;

import jakarta.validation.constraints.NotBlank;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

/**
 * Dto for user login.
 */
@Data
@AllArgsConstructor
@NoArgsConstructor
public class UserLoginDto {
    @NotBlank(message = "username is required")
    private String username;
    @NotBlank(message = "password is required")
    private String password;
    private boolean rememberMe;
    /**
     * Url from which user came. After successful login user will be redirected to this url.
     */
    private String refererUrl;
    /**
     * Captcha token.
     */
    private String captchaToken;
}
