package ${package}.dto.api;

import jakarta.validation.constraints.Email;
import jakarta.validation.constraints.Size;
import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.NoArgsConstructor;

@Data
@NoArgsConstructor
@AllArgsConstructor
public class UserRegisterDto {
    @Size(min = 2, max = 30, message = "login length must be between {min} and {max}")
    private String username;
    @Size(min = 8, max = 100, message = "password length must be between {min} and {max}")
    private String password;
    @Email
    @Size(min = 4, max = 50, message = "email length must be between {min} and {max}")
    private String email;
    /**
     * Captcha token.
     */
    private String captchaToken;
}
